In [54]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math
import joblib

In [55]:
tr_tr_new = joblib.load('./joblib/tr_tr_new.joblib')

In [56]:
tr_tr_new.head()

,D5,C10,C7,D9,C8,D8,C3,C12,dist1,TransactionDT,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
TransactionID,,,,,,,,,,,,,,,,,,,,,
2987000,NaN,0.0,0.0,NaN,0.0,NaN,0.0,0.0,19.0,86400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987001,NaN,0.0,0.0,NaN,0.0,NaN,0.0,0.0,NaN,86401,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987002,NaN,0.0,0.0,NaN,0.0,NaN,0.0,0.0,287.0,86469,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987003,0.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,NaN,86499,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987004,NaN,1.0,0.0,NaN,1.0,NaN,0.0,0.0,NaN,86506,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M

In [57]:
te_tr_new = joblib.load('./joblib/te_tr_new.joblib')

In [58]:
te_tr_new.head()

,D5,C10,C7,D9,C8,D8,C3,C12,dist1,TransactionDT,...,id-31,id-32,id-33,id-34,id-35,id-36,id-37,id-38,DeviceType,DeviceInfo
TransactionID,,,,,,,,,,,,,,,,,,,,,
3663549,27.0,0.0,0.0,NaN,0.0,NaN,0.0,1.0,1.0,18403224,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3663550,7.0,0.0,0.0,NaN,0.0,NaN,0.0,1.0,4.0,18403263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3663551,10.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,2635.0,18403310,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3663552,41.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,17.0,18403310,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3663553,0.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,6.0,18403317,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
# tr_tr_new.drop(columns=['isFraud'], inplace=True)

In [60]:
print(tr_tr_new.shape, te_tr_new.shape)

(590540, 215) (506691, 214)

In [61]:
tr_tr_new.dtypes

D5            float64
C10           float64
C7            float64
D9            float64
C8            float64
               ...
id_36          object
id_37          object
id_38          object
DeviceType     object
DeviceInfo     object
Length: 215, dtype: object

In [62]:
# for col in ['ProductCD', 'card4', 'card6']:
#     aux = pd.concat([tr_tr_new[[col]], te_tr_new[[col]]])
#     col_aux = aux[col].value_counts().to_dict()   
#     tr_tr_new[col] = tr_tr_new[col].map(col_aux)
#     tr_tr_new[col]  = te_tr_new[col].map(col_aux)

In [63]:
# columns_to_map = ['M1','M2','M3','M5','M6','M7','M8','M9']
# 
# for x in columns_to_map + ['M4']:
#     if x in columns_to_map:
#         tr_tr_new[x] = tr_tr_new[x].map({'T':1, 'F':0})
#         te_tr_new[x] = te_tr_new[x].map({'T':1, 'F':0})
#     else:
#         aux = pd.concat([tr_tr_new[[x]], te_tr_new[[x]]])
#         col_aux = aux[x].value_counts().to_dict()   
#         tr_tr_new[x] = tr_tr_new[x].map(col_aux)
#         te_tr_new[x] = te_tr_new[x].map(col_aux)

In [64]:
te_tr_new.rename(columns=lambda col: col.replace('id-', 'id_'), inplace=True)

In [65]:
[col for col in tr_tr_new.columns if col.startswith('id_')]

['id_01',
 'id_02',
 'id_03',
 'id_04',
 'id_05',
 'id_06',
 'id_07',
 'id_08',
 'id_09',
 'id_10',
 'id_11',
 'id_12',
 'id_13',
 'id_14',
 'id_15',
 'id_16',
 'id_17',
 'id_18',
 'id_19',
 'id_20',
 'id_21',
 'id_22',
 'id_23',
 'id_24',
 'id_25',
 'id_26',
 'id_27',
 'id_28',
 'id_29',
 'id_30',
 'id_31',
 'id_32',
 'id_33',
 'id_34',
 'id_35',
 'id_36',
 'id_37',
 'id_38']

In [66]:
cat_var = ['ProductCD', 
           'card6', 'card2', 'card5', 'card1', 'card4', 'card3',
           'addr2', 'addr1',
           'P_emaildomain',
           'R_emaildomain',
           'M6', 'M7', 'M8', 'M4', 'M9', 'M1', 'M2', 'M5', 'M3',
           'DeviceType',
           'DeviceInfo',
           'id_12', 'id_13', 'id_14', 'id_15', 'id_16', 'id_17', 'id_18', 'id_19',
           'id_20', 'id_21', 'id_22', 'id_23', 'id_24', 'id_25', 'id_26', 'id_27',
           'id_28', 'id_29', 'id_30', 'id_31', 'id_32', 'id_33', 'id_34', 'id_35', 
           'id_36', 'id_37', 'id_38']

In [67]:
import numpy as np
from sklearn.preprocessing import LabelEncoder


for col in cat_var:
    le = LabelEncoder()
    
    # Convert NaN to "N/A", assuming you want to treat it as a separate category
    tr_tr_new[col] = tr_tr_new[col].fillna('N/A').astype(str)
    te_tr_new[col] = te_tr_new[col].fillna('N/A').astype(str)
    
    # Fit on the training data
    le.fit(tr_tr_new[col])
    
    # Create a mapping for unseen labels in test set
    unseen_labels = set(te_tr_new[col]) - set(le.classes_)
    
    # If unseen labels exist, add them to the classes_
    if unseen_labels:
        new_classes = np.concatenate([le.classes_, np.array(list(unseen_labels))])
        le.classes_ = new_classes
    
    # Transform the data
    tr_tr_new[col] = le.transform(tr_tr_new[col])
    te_tr_new[col] = le.transform(te_tr_new[col])

In [68]:
tr_tr_new.dtypes

D5            float64
C10           float64
C7            float64
D9            float64
C8            float64
               ...
id_36           int32
id_37           int32
id_38           int32
DeviceType      int32
DeviceInfo      int32
Length: 215, dtype: object

In [69]:
def optimize_dtypes(df):
    for col in df.columns:
        col_dtype = df[col].dtype
        if col_dtype == 'float64':
            df[col] = pd.to_numeric(df[col], downcast='float')
        elif col_dtype == 'int64' or col_dtype == 'int32':
            df[col] = pd.to_numeric(df[col], downcast='integer')
    return df

# Apply the optimization function on your datasets
tr_tr_new = optimize_dtypes(tr_tr_new)
te_tr_new = optimize_dtypes(te_tr_new)

In [70]:
tr_tr_new.dtypes

D5            float32
C10           float32
C7            float32
D9            float32
C8            float32
               ...
id_36            int8
id_37            int8
id_38            int8
DeviceType       int8
DeviceInfo      int16
Length: 215, dtype: object

In [71]:
non_categorical_vars = list(set(tr_tr_new.columns) - set(cat_var))

In [72]:
# one_hot_vars = ['ProductCD', 'M6', 'M7', 'M8', 'M4', 'M9', 'M1', 'M2', 'M5', 'M3', 'DeviceType', 'id_12',
#                 'id_15','id_16', 'id_23', 'id_27', 'id_28', 'id_29', 'id_32', 'id_34','id_35', 'id_36', 'id_37', 'id_38']

In [73]:
te_tr_new['id_38'].value_counts()

id_38
1    369714
0     95058
2     41919
Name: count, dtype: int64

In [74]:
# from sklearn.preprocessing import LabelEncoder
# 
# target_encode_vars = list(set(cat_var) - set(one_hot_vars))
# 
# # Perform label encoding on the specified variables
# label_encoders = {}  # Store each encoder for potential use later
# 
# for var in target_encode_vars:
#     le = LabelEncoder()
#     
#     # Fit on combined data to ensure all categories are known (useful for unseen categories in the test set)
#     combined_data = pd.concat([tr_tr_new[var], te_tr_new[var]], axis=0)
#     le.fit(combined_data)
#     
#     tr_tr_new[var] = le.transform(tr_tr_new[var])
#     te_tr_new[var] = le.transform(te_tr_new[var])
#     
#     label_encoders[var] = le

In [75]:
# from sklearn.preprocessing import OneHotEncoder
# 
# # 3) Define "model"
# ohe = OneHotEncoder(sparse_output=False, drop='first', handle_unknown='ignore')
# 
# # 4) Train "model" on the training dataset
# ohe.fit(tr_tr_new[one_hot_vars])

In [76]:
# 5) "Predict" for both train and test datasets
# tr_ohe = pd.DataFrame(ohe.transform(tr_tr_new[one_hot_vars]))

In [77]:
# tr_ohe.head()

In [78]:
# te_ohe = pd.DataFrame(ohe.transform(te_tr_new[one_hot_vars]))

In [79]:
# # Optional: Name the columns
# tr_ohe.columns = ohe.get_feature_names_out()
# te_ohe.columns = ohe.get_feature_names_out()
# 
# # Combine numerical and categorical for both train and test datasets
# tr_tr_new = pd.concat((tr_tr_new[non_categorical_vars], tr_ohe), axis=1)
# te_tr_new = pd.concat((te_tr_new[non_categorical_vars], te_ohe), axis=1)

In [80]:
import joblib

joblib.dump(tr_tr_new, './joblib/tr_tr_encoded.joblib')
joblib.dump(te_tr_new, './joblib/te_tr_encoded.joblib')

['./joblib/te_tr_encoded.joblib']