In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math
import joblib

In [2]:
tr_tr_new = joblib.load('tr_tr_new.joblib')

In [3]:
tr_tr_new.head()

,addr2,C7,D4,card6,M6,C2,C4,D5,ProductCD,C14,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
TransactionID,,,,,,,,,,,,,,,,,,,,,
2987000,87.0,0.0,NaN,credit,T,1.0,0.0,NaN,W,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987001,87.0,0.0,0.0,credit,T,1.0,0.0,NaN,W,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987002,87.0,0.0,0.0,debit,F,1.0,0.0,NaN,W,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987003,87.0,0.0,94.0,debit,F,5.0,0.0,0.0,W,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2987004,87.0,0.0,NaN,credit,NaN,1.0,0.0,NaN,H,1.0,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M

In [4]:
te_tr_new = joblib.load('te_tr_new.joblib')

In [50]:
te_tr_new.head()

,addr2,C7,D4,card6,M6,C2,C4,D5,ProductCD,C14,...,id-31,id-32,id-33,id-34,id-35,id-36,id-37,id-38,DeviceType,DeviceInfo
TransactionID,,,,,,,,,,,,,,,,,,,,,
3663549,87.0,0.0,398.0,debit,F,6.0,0.0,27.0,W,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3663550,87.0,0.0,634.0,debit,F,2.0,0.0,7.0,W,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3663551,87.0,0.0,97.0,debit,F,2.0,0.0,10.0,W,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3663552,87.0,0.0,242.0,debit,T,2.0,0.0,41.0,W,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3663553,87.0,0.0,22.0,debit,F,6.0,0.0,0.0,W,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
tr_tr_new.drop(columns=['isFraud'], inplace=True)

In [69]:
print(tr_tr_new.shape, te_tr_new.shape)

(590540, 214) (506691, 214)

In [53]:
tr_tr_new.dtypes

addr2         float64
C7            float64
D4            float64
card6          object
M6             object
               ...
id_36          object
id_37          object
id_38          object
DeviceType     object
DeviceInfo     object
Length: 214, dtype: object

In [54]:
tr_tr_new['id_12'].value_counts(dropna=False)

id_12
NaN         446307
NotFound    123025
Found        21208
Name: count, dtype: int64

In [6]:
te_tr_new.rename(columns=lambda col: col.replace('id-', 'id_'), inplace=True)

In [56]:
[col for col in tr_tr_new.columns if col.startswith('id_')]

['id_01',
 'id_02',
 'id_03',
 'id_04',
 'id_05',
 'id_06',
 'id_07',
 'id_08',
 'id_09',
 'id_10',
 'id_11',
 'id_12',
 'id_13',
 'id_14',
 'id_15',
 'id_16',
 'id_17',
 'id_18',
 'id_19',
 'id_20',
 'id_21',
 'id_22',
 'id_23',
 'id_24',
 'id_25',
 'id_26',
 'id_27',
 'id_28',
 'id_29',
 'id_30',
 'id_31',
 'id_32',
 'id_33',
 'id_34',
 'id_35',
 'id_36',
 'id_37',
 'id_38']

In [7]:
cat_var = ['ProductCD', 
           'card6', 'card2', 'card5', 'card1', 'card4', 'card3',
           'addr2', 'addr1',
           'P_emaildomain',
           'R_emaildomain',
           'M6', 'M7', 'M8', 'M4', 'M9', 'M1', 'M2', 'M5', 'M3',
           'DeviceType',
           'DeviceInfo',
           'id_12', 'id_13', 'id_14', 'id_15', 'id_16', 'id_17', 'id_18', 'id_19',
           'id_20', 'id_21', 'id_22', 'id_23', 'id_24', 'id_25', 'id_26', 'id_27',
           'id_28', 'id_29', 'id_30', 'id_31', 'id_32', 'id_33', 'id_34', 'id_35', 
           'id_36', 'id_37', 'id_38']

In [8]:
non_categorical_vars = list(set(tr_tr_new.columns) - set(cat_var))

In [9]:
one_hot_vars = ['ProductCD', 'M6', 'M7', 'M8', 'M4', 'M9', 'M1', 'M2', 'M5', 'M3', 'DeviceType', 'id_12',
                'id_15','id_16', 'id_23', 'id_27', 'id_28', 'id_29', 'id_32', 'id_34','id_35', 'id_36', 'id_37', 'id_38']

In [73]:
te_tr_new['id_38'].value_counts()

id_38
F    95058
T    41919
Name: count, dtype: int64

In [11]:
from sklearn.preprocessing import LabelEncoder

target_encode_vars = list(set(cat_var) - set(one_hot_vars))

# Perform label encoding on the specified variables
label_encoders = {}  # Store each encoder for potential use later

for var in target_encode_vars:
    le = LabelEncoder()
    
    # Fit on combined data to ensure all categories are known (useful for unseen categories in the test set)
    combined_data = pd.concat([tr_tr_new[var], te_tr_new[var]], axis=0)
    le.fit(combined_data)
    
    tr_tr_new[var] = le.transform(tr_tr_new[var])
    te_tr_new[var] = le.transform(te_tr_new[var])
    
    label_encoders[var] = le

In [12]:
from sklearn.preprocessing import OneHotEncoder

# 3) Define "model"
ohe = OneHotEncoder(sparse_output=False, drop='first', handle_unknown='ignore')

# 4) Train "model" on the training dataset
ohe.fit(tr_tr_new[one_hot_vars])

OneHotEncoder(drop='first', handle_unknown='ignore', sparse_output=False)

In [13]:
# 5) "Predict" for both train and test datasets
tr_ohe = pd.DataFrame(ohe.transform(tr_tr_new[one_hot_vars]))

In [14]:
tr_ohe.head()

,0,1,2,3,4,5,6,7,8,9,...,19196,19197,19198,19199,19200,19201,19202,19203,19204,19205
0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0
1,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0
2,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [14]:
te_ohe = pd.DataFrame(ohe.transform(te_tr_new[one_hot_vars]))

J:\IE\SECOND TERM\MLII\venv\Lib\site-packages\sklearn\preprocessing\_encoders.py:227: UserWarning: Found unknown categories in columns [18] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

In [15]:
# Optional: Name the columns
tr_ohe.columns = ohe.get_feature_names_out()
te_ohe.columns = ohe.get_feature_names_out()

# Combine numerical and categorical for both train and test datasets
tr_tr_new = pd.concat((tr_tr_new[non_categorical_vars], tr_ohe), axis=1)
te_tr_new = pd.concat((te_tr_new[non_categorical_vars], te_ohe), axis=1)

In [16]:
import joblib

joblib.dump(tr_tr_new, 'tr_tr_encoded.joblib')
joblib.dump(te_tr_new, 'te_tr_encoded.joblib')

['te_tr_encoded.joblib']